*.iml
.gradle
/local.properties
.idea/*
.DS_Store
build/*
captures/*
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
proguard/
proguard-rules.pro
*.log
.navigation/
.externalNativeBuild
google-services.json

